.NavContainer{
  position: fixed;
  z-index: 1000;
  background: $color-3;
  border-radius: 10px;
    .navigation{
        display: flex;
        color: $color-2;
        list-style-type: none;
        cursor: pointer;
        a{
            text-decoration: none;
            margin: 10px;
            &:visited{
                text-decoration: none;
                color: $color-2;
            }
          
            li{
                margin: 10px;
                padding: 10px;
                border-radius: 10px;
                cursor: pointer;
            }
          
        }

        .nav-active{
            border-radius: 10px;
            background: $color-1;
            transition: all 1s ease;
            animation: anim 0.6s ease forwards;
        @keyframes anim {
          0%{
            transform: translateX(0px);
          }
          50%{
            transform: translateX(-5px);
          }
          100%{
            transform: translateX(5px);
          }
        }
        }
      
    }
}
